@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:
  radial-gradient(circle at top left,#1e1b4b,#020617 40%),
  radial-gradient(circle at bottom right,#0f766e,#020617 40%);
}