.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
  color:white;
}

.navbar h1{
  font-size:52px;
  font-weight:700;
}

.navbar p{
  color:#94a3b8;
  margin-top:8px;
  font-size:18px;
}

.welcome-text{
  margin-top:12px;
  color:#06b6d4;
  font-weight:500;
}

.navbar-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.navbar-right input{
  padding:14px 18px;
  border:none;
  outline:none;
  border-radius:12px;
  background:#1e293b;
  color:white;
  width:240px;
  font-size:15px;
}

/* .profile-img{
  width:55px;
  height:55px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #7c3aed;
  box-shadow:0 0 20px rgba(124,58,237,0.5);
} */

.profile-circle{
  width:55px;
  height:55px;
  border-radius:50%;
  background:#7c3aed;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:22px;
  font-weight:700;
}

@media(max-width:700px){

  .navbar{
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
  }

  .navbar-right{
    width:100%;
  }

  .navbar-right input{
    width:100%;
  }

}