.form-card{
  background:#0f172a;
  padding:25px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.form-card h2{
  color:white;
  margin-bottom:10px;
}

.form-card input,
.form-card select{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:white;
  font-size:15px;
  outline:none;
}

.form-card input::placeholder{
  color:#94a3b8;
}

.form-card button{
  padding:12px;
  border:none;
  border-radius:10px;
  background:linear-gradient(
    135deg,
    #7c3aed,
    #9333ea
  );
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.form-card button:hover{
  transform:translateY(-2px);
}